@model ML.Empleado
@{
    ViewBag.Title = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Empleados</h2>
<hr />
<style>
    .card {
        border: none;
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease-in-out;
        background-image: linear-gradient(to right, #003366, #0055a5); /* Colores más oscuros */
        margin-bottom: 20px;
    }

        .card:hover {
            transform: scale(1.05);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }

    .card-img-top {
        border-radius: 50%;
        width: 150px;
        height: 150px;
        margin-top: -75px;
        border: 5px solid white;
    }

    .card-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding-top: 80px;
    }

    .card-text {
        font-size: 14px;
        color: white;
    }

    .card-title {
        font-size: 18px;
        font-weight: bold;
        color: white;
    }

    .btn-outline-secondary {
        border-color: white;
        color: white;
    }

        .btn-outline-secondary:hover {
            background-color: white;
            color: #007bff;
        }
</style>

<div class="container">
    <div class="row">
        @foreach (ML.Empleado empleado in Model.Empleados)
        {
            <div class="col-lg-3 col-md-3 col-sm-6 mb-4">
                <div class="card text-center">
                    <div class="card-body d-flex flex-column justify-content-between">
                        <div class="d-flex align-items-center justify-content-center">
                            @if (empleado.Foto != null || empleado.Foto == "")
                            {
                                <img id="img" src="data:image/*;base64,@empleado.Foto" class="card-img-top img-fluid" alt="Foto de @empleado.Nombre" />
                            }
                            else
                            {
                                <img id="img" src="https://png.pngtree.com/png-vector/20220608/ourlarge/pngtree-faceless-user-anonymous-unknown-icon-png-image_4816463.png" class="card-img-top img-fluid" alt="Foto de @empleado.Nombre" />
                            }
                        </div>
                        <p class="card-text">@empleado.Empresa.Nombre</p>
                        <h5 class="card-title"><u>@empleado.Nombre @empleado.ApellidoPaterno</u></h5>
                        <p class="card-text">Teléfono: @empleado.Telefono</p>
                        <a class="btn btn-outline-secondary m-1" href="@Url.Action("GetByNumeroEmpleado", "Dependiente", new {numeroEmpleado = empleado.NumeroEmpleado})">Ver dependientes</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
