@model ML.Usuario

<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />
@Scripts.Render("~/bundles/jquery")
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>

<h2 class="text-center">Usuarios Registrados</h2>
<hr />

<div class="row justify-content-center">
    <div class="col-md-6 text-center">
        @using (Html.BeginForm("GetAll", "Usuario", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-inline mx-auto" }))
        {
            <div class="text-center">
                <div class="form-group mr-2 mb-1">
                    <label for="Nombre">Nombre</label>
                    <div class="d-flex justify-content-center input-group">
                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                        @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control", @placeholder = "Nombre" })
                    </div>
                </div>
                <div class="form-group mr-2 mb-1">
                    <label for="ApellidoPaterno">Apellido Paterno</label>
                    <div class=" d-flex justify-content-center input-group">
                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                        @Html.TextBoxFor(model => model.ApellidoPaterno, new { @class = "form-control", @placeholder = "Apellido Paterno" })
                    </div>
                </div>
                <div class="form-group mb-2">
                    <button class="btn btn-primary" type="submit"><i class="fas fa-search"></i> Buscar</button>
                </div>
            </div>
        }
    </div>
</div>



@if (Model.Usuarios != null)
{
    ViewBag.Title = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";

    <div class="table-responsive mb-4">
        <table class="table table-striped table-bordered table-hover" id="usuarioTabla">
            <thead class="text-center bg-primary text-white">
                <tr class="align-middle">

                    <th class="col">Status</th>
                    <th class="col">Imagen Usuario</th>
                    <th class="col">Id Usuario</th>
                    <th class="col">Nombre</th>
                    <th class="col">Apellido Paterno</th>
                    <th class="col">Apellido Materno</th>
                    <th class="col">Email</th>
                    @*<th class="col">Password</th>*@
                    <th class="col">Sexo</th>
                    <th class="col">Teléfono</th>
                    <th class="col">Celular</th>
                    <th class="col">Fecha Nacimiento</th>
                    <th class="col">CURP</th>
                    @*<th class="col">ID Rol</th>*@
                    <th class="col">Calle</th>
                    <th class="col">CP</th>
                    <th class="col">Colonia</th>
                    <th class="col">Municipio</th>
                    <th class="col">Estado</th>
                    <th class="col">Pais</th>
                    <th class="col">Nombre Rol</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody class="text-center">
                @foreach (ML.Usuario usuario in Model.Usuarios)
                {
                    <tr class="align-middle">

                        @if (usuario.Status)
                        {
                            <td style="text-align: center; vertical-align: middle;">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" checked onchange="ChangeStatus(@usuario.IdUsuario, this)">
                                </div>
                            </td>
                        }
                        else
                        {
                            <td style="text-align: center; vertical-align: middle;">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" onchange="ChangeStatus(@usuario.IdUsuario, this)">
                                </div>
                            </td>
                        }

                        @if (usuario.Imagen != null || usuario.Imagen == "")
                        {
                            <td>
                                <img id="img" src="data:image/*;base64,@usuario.Imagen" width="40" height="40" />
                            </td>
                        }
                        else
                        {
                            <td>
                                <img id="img" src="https://png.pngtree.com/png-vector/20220608/ourlarge/pngtree-faceless-user-anonymous-unknown-icon-png-image_4816463.png" width="40" height="40" />
                            </td>
                        }

                        <td>@usuario.IdUsuario</td>
                        <td>@usuario.Nombre</td>
                        <td>@usuario.ApellidoPaterno</td>
                        <td>@usuario.ApellidoMaterno</td>
                        <td>@usuario.Email</td>
                        @*<td>@usuario.Password</td>*@
                        <td>@usuario.Sexo</td>
                        <td>@usuario.Telefono</td>
                        <td>@usuario.Celular</td>
                        <td>@usuario.FechaNacimiento.ToString("dd/MM/yyyy")</td>
                        <td>@usuario.CURP</td>
                        @*<td>@usuario.Rol.idRol</td>*@

                        <td>@usuario.Direccion.Calle</td>
                        <td>@usuario.Direccion.Colonia.CodigoPostal</td>
                        <td>@usuario.Direccion.Colonia.Nombre</td>
                        <td>@usuario.Direccion.Colonia.Municipio.Nombre</td>
                        <td>@usuario.Direccion.Colonia.Municipio.Estado.Nombre</td>
                        <td>@usuario.Direccion.Colonia.Municipio.Estado.Pais.Nombre</td>

                        @if (usuario.Rol.Nombre == "Admin")
                        {
                            <td class="text-success">@usuario.Rol.Nombre</td>

                        }
                        else
                        {
                            <td style="color:orangered">@usuario.Rol.Nombre</td>

                        }

                        <td><a class="btn btn-outline-secondary m-1" href="@Url.Action("Form", "Usuario", new {id = usuario.IdUsuario})"><i class="fa-solid fa-pen-to-square fa-flip-horizontal fa-lg" style="color: #007bff;"></i></a></td>
                        <td>
                            <a class="btn btn-outline-secondary m-1" href="@Url.Action("Delete", "Usuario", new {id=usuario.IdUsuario})"
                               onclick="return confirm('¿Estás seguro de que deseas eliminar este usuario?')">
                                <i class="fa-sharp fa-solid fa-trash fa-lg" style="color: #dc3545;"></i>
                            </a>
                        </td>


                    </tr>

                }
            </tbody>
        </table>
    </div>

    <div class="text-center">
        <a href="@Url.Action("Form", "Usuario")" class="btn btn-success text-center">Agregar Usuario</a>
    </div>
}

<script>
    function ChangeStatus(idUsuario, e) {
        var status = e.checked

        $.ajax({
            url: '@Url.Action("ChangeStatus")',
            data: { IdUsuario: idUsuario, Status : status },
            type: 'POST',
            dataType : 'json',
            success: { },
            error: {
                //alert("Error al cambiar el status");
            }

        })
    }

    let table = new DataTable('#usuarioTabla', {
        reponsive: true,
        "lengthMenu": [[5, 10, 15, 20, -1], [5, 10, 15, 20, "Todos"]],
        searching: false,
        language: {
            url: "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json",
        },
    });
</script>